# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/public/img/CNC*
/public/img/PENGGUNA*
/public/img/Kasir*
/public/img/laporan*
/public/img/PEMBAYARAN*
/public/img/PENGGUNA*
/public/img/REGISTRASI*
/public/img/TRANSAKSI*
node_modules/
dist/
npm-debug.log
yarn-error.log
